.myName {
	color: blue;
}
body {
	background: black;
}
.Kristen {
	color: green;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
img {
	max-height: 50px;
	margin-left: auto;
}
.postcard-body {
	display: flex;
}
.w-50 {
	width: 50%;
}
.postcard-footer {
	text-align: center;
}
h1 {
	display: inline;
}
.body-left p {
	margin-top: 0px;
}
.body-right {
	padding-left: 10px;
}
